.test-header {				//TODO: remove after project builds properly
	color: green;
}

body {
	background-color: #221f2e;
	color: azure;
}

.malleable-ui {
	margin: 2em;
	padding: 1em;
	background-color: #4a4366;
	border-radius: 5px;
}